output {
  elasticsearch {
    hosts => {{ logstash_elasticsearch_hosts | to_json }}
    index => "%{[@metadata][beat]}-%{+YYYY.MM.dd}"
    user => "logstash_system"
    password => "{{ logstash_system_user_password }}"
  }
}
